.wrapperMovieDetails {
    display: flex;
    flex-direction: column;
}

.movieDetails{
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
}

img {
    height: 500px;
    width: 300px;
}